* {
  box-sizing: border-box;
}

body {
  background: #f2eafb;
  padding: 15px;
}

.transactions {
  list-style: none;
}

.large-input {
  display: block;
  height: 100px;
  width: 100%;
}

.tag-list {
    width: 300px;
}
.container {
  max-width: 968px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 40px #ccc;
  padding: 15px;
}

#total {
  font-size: 24px;
}

.transaction-item {
  padding: 10px 0;
}